<div id="flash-message">
    {{#if messages.error }}
    <div id="flash-error"><span>{{messages.error}}</span></div>
    {{else}}
    <div id="flash-success"><span>{{messages.success}}</span></div>
    {{/if}}
</div>