<div id="navbar">
    <nav>
        <div id="search-container">
            <input id="search-bar" type="search" placeholder="Search">
            <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div id="nav-anchor-container">
            <a href="/">HOME</a>
            {{#if logged}}
                <a href="/users/logout">LOG OUT</a>
            {{else}}
                <a href="/login">LOGIN</a>
            {{/if}}

            <a href="/postimage">POST IMAGE</a>
            <a href="/viewpost">VIEW POSTS</a>
        </div>
    </nav>
</div>