<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{#each css}}
    <link rel="stylesheet" type="text/css" href="/public/css/{{this}}">
    {{/each}}
    {{#each js}}
    <script defer type="text/javascript" src="/public/js/{{this}}"></script>
    {{/each}}
  </head>
  <body>
    {{> navbar}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
