<!DOCTYPE html>
<html>
<body>
    <div class="flex-container">
        <header>
            <h1>HOME</h1>
        </header>

        <h1 id="items-counter"></h1>
    </div>
    <div id="item-container"></div>
</body>
</html>