<!DOCTYPE html>
<html lang="en">
<body>
    <div class="wrap-container">
        <div class="form-container">
            <form autocomplete="off"> 
                <div class="username-container"> 
                    <label for="username">USERNAME:</label>
                    <input type="text" id="username" name="username" placeholder="Username" required/>
                </div>
                <div class="password-container">
                    <label for="password">PASSWORD:</label>
                    <input type="password" id="password" name="password" placeholder="Password" required/>   
                </div>

                <div class="flex-container">
                    <div class="button-container">
                        <button id="submit-button" type="submit">Login</button>
                    </div> 
                    <div class="anchor-container">
                        <a id="register-redirect-anchor" href="/registration">Don't have an account? Register here!</a>
                    </div> 
                </div>    
            </form>
        </div>
    </div>
</body>
</html>