<div class="wrap-container">
    <div class="form-container">
        <form autocomplete="off" method="POST" enctype="multipart/form-data" action="/posts/createPost">
            <div class="title-container">
                <label for="post-title">POST TITLE:</label>
                <input type="text" id="post-title" name="title" placeholder="Post Title" required />
            </div>

            <div class="description-container">
                <label for="post-description">POST DESCRIPTION:</label>
                <textarea id="post-description" name="description" placeholder="Post Description" rows="5"
                    cols="20" required></textarea>
            </div>

            <div class="file-container">
                <label for="post-file">IMAGE:</label>
                <input type="file" id="post-file" name="uploadImage" required />
            </div>

            <div class="flex-container">

                <div class="verification-container">
                    <input type="checkbox" id="acceptable-use-policy" name="acceptableUsePolicy" required />
                    <label>I accept to the Acceptable Use Policy for uploading images.</label>
                </div>

                <button id="submit-button" type="submit"><i class="fas fa-upload"></i> Post</button>
            </div>
        </form>
    </div>
</div>