<div class="container">
    <div id="img-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Orange_circle_100%25.svg/250px-Orange_circle_100%25.svg.png" alt="Image Could Not Be Displayed."/>
    </div>
    
    <div class="grid-container">
        <div id="placeholder-for-now">
            <div id="placeholder-for-now-banner">
                <span id="placeholder-for-now-span">PLACEHOLDER AREA FOR NOW</span>
            </div>
        </div>

        <div id="comment-section-container">
            <div id="view-comment-container">
                <div id="view-comment-banner">
                    <span id="view-comment-span">COMMENTS <i class="fas fa-comments"></i></span>
                </div>
            </div>

            <div id="write-comment-container">
                <textarea name="write-comment-area" id="write-comment-area" cols="60" rows="5"></textarea>
                <button type="submit" id="submit-button"><i class="fa fa-comment"></i></button>
            </div>
        </div>
    </div>
</div>