<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/viewpost.css">
    <title>View Posts</title>
</head>
<body>
    <div class="flex-container">
        <header>
            <h1>VIEW POSTS</h1>
        </header>
        
        <section>
            <h2>post's TITLE</h2>
            <p>post's author</p>
            <p>post's post creation time</p>
            <img src="https://www.redditstatic.com/mweb2x/favicon/192x192.png" alt="Image Not Found"/>
        </section>

        <section>
            <h2>post's TITLE</h2>
            <p>post's author</p>
            <p>post's post creation time</p>
            <img src="https://images.unsplash.com/photo-1551509134-2f9d4ec80a9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="Image Not Found"/>
        </section>

        <section>
            <h2>post's TITLE</h2>
            <p>post's author</p>
            <p>post's post creation time</p>
            <img src="https://www.redditstatic.com/mweb2x/favicon/192x192.png" alt="Image Not Found"/>
        </section>

        <section>
            <h2>post's TITLE</h2>
            <p>post's author</p>
            <p>post's post creation time</p>
            <img src="https://www.redditstatic.com/mweb2x/favicon/192x192.png" alt="Image Not Found"/>
        </section>
    </div>
</body>
</html>