<div class="container">
    <div id="img-container">
        <p> IMG CONTAINER <p></p>
    </div>
    
    <div class="grid-container">
        <div id="placeholder-for-now">
            <p>PLACEHOLDER FOR NOW</p>
        </div>
        <div id="comment-section-container">
            <div id="view-comment-container">
                <p>VIEW COMMENT</p>
            </div>

            <div id="write-comment-container">
                <textarea name="wirte-comment-area" id="write-comment-area" cols="60" rows="5"></textarea>
                <button type="submit" id="submit-button"><i class="fa fa-comment"></i></button>
            </div>
        </div>
    </div>
</div>