#footer {
    display: flex;
    justify-content: center;
    background-color: #242c7e;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer > a, #footer > span {
    background: -webkit-linear-gradient(#fdd77b, #f4a063, #f27076);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}