body {
    background: url("../res/background.jpg");
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.wrap-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 0.2fr);
    grid-auto-rows: 0.2fr;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "content error";
}

.form-container {
    grid-area: content;
}

form {
    margin-top: 5rem;
    background-color: #f8e5f3;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
    padding: 1rem;
    grid-area: content;
    border: 0.5rem solid #242c7e;
    border-radius: 0.5rem;
    border-style: solid solid solid solid;
}

form > div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: repeat(1, 1fr);
    grid-template-areas: "field-label field-input";
    gap: 1rem;
}

.error-container {
    grid-area: error;
    margin-top: 5rem;
}

.error-container > div {
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem;
    background: linear-gradient(#3c5fe1, #4d65d0, #0f1923);
    border: 6px solid #242c7e;
}

.flex-container {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
}

form > div > label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b099fc;
    border-radius: 0.5rem;
    border: 3px solid #242c7e;
}

form > div > input, form > div > textarea, form > div > div > input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b099fc;
    border: 3px solid #242c7e;
    border-radius: 0.5rem;
}

.eye-con {
    cursor: pointer;
    z-index: 1;
    float: right;
    position: relative;
    margin-right: 1rem;
    margin-top: -2rem;
}

form > div > input::placeholder, form > div > div > input::placeholder {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

.verification-container, .tos-container {
    display: flex;
    gap: 0.5rem;
}

.tos-container > i {
    color: #0645AD;
}

input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    min-height: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    max-height: 1rem;
}

#submit-button {
    border-radius: 2rem;
    border: 3px solid #242c7e;
    text-align: center;
    background: linear-gradient(#fdd77b, #f4a063, #f27076);
    color: white;
    padding: 0.6rem;
    width: 8rem;
    font-size: 1.25rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: 0.7s;
}

#submit-button:hover, #submit-button:focus, #submit-button:active {
    color: #242c7e;
}

#register-redirect-anchor {
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    border: 3px solid #242c7e;
    text-align: center;
    background: linear-gradient(#fdd77b, #f4a063, #f27076);
    padding: 0.6rem;
    width: 6.25rem;
    font-size: 1.25rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: 0.7s;
}

#register-redirect-anchor:hover, #register-redirect-anchor:focus, #register-redirect-anchor:active {
    color: #242c7e;
    font-weight: bold;
}