body {
    background: linear-gradient(#3c5fe1, #4d65d0, #0f1923) fixed;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 6px solid;
    border-image: linear-gradient(to left,#fdd77b, #f4a063, #f27076) 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;

    border-left: 6px solid;
    border-image: linear-gradient(to top,#f4a063, #f27076, #f4a063) 1;
}

#img-container {
    background-color: black;
}

#img-container > img {
    display: block;
    margin: 0 auto;
    height: 70vh;
    width: auto;
}

#comment-section-container {
    display: grid;
    background: linear-gradient(90deg, #28282f, #444245, #3c3856);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border-top: 6px solid;
    border-image: linear-gradient(to left,#fdd77b, #f4a063, #f27076) 1;
    grid-template-areas:
    "view"
    "view"
    "write";
}

#write-comment-container {
    display: flex;
    grid-area: write;
}

#write-comment-container > textarea {
    flex: 1;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b099fc;
    border: 3px solid #242c7e;
    outline: none;
}

#write-comment-container > button {
    border: 3px solid #242c7e;
    text-align: center;
    background: linear-gradient(#fdd77b, #f4a063, #f27076);
    color: white;
    padding: 0.6rem;
    width: 6.25rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.7s;
}

#write-comment-container > button:hover, button:focus {
    color: #242c7e;
}

#view-comment-container {
    grid-area: view;
}

#view-comment-banner {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #242c7e;
    font-size: 24px;
}

#view-comment-span {
    background: -webkit-linear-gradient(#fdd77b, #f4a063, #f27076);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#messages {
    display: flex;
    flex-flow: column-reverse nowrap;
    max-height: 18vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

div[id^=message-] {
    display: grid;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: .2rem;
    padding: .25rem;
    margin: .2rem;
    font-size: 1rem;
    border: 3px solid #242c7e;
    border-radius: .25rem;
    background-color: #b099fc;
    grid-template-areas:
    "author created"
    "comment comment";
}

.author-text {
    grid-area: author;
    justify-self: start;
    background: -webkit-linear-gradient(#3c5fe1, #4d65d0, #0f1923);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.comment-text {
    grid-area: comment;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 75px;
    min-height: 75px;
}

.date-posted {
    grid-area: created;
    justify-self: end;
}

#info-message-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title title"
    "author date"
    "description description"
    "description description";
}

#info-message-grid > div {
    background-color: #b099fc;
    margin: 1rem;
    border: 3px solid #242c7e;
    font-size: 16px;
}

#image-post-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242c7e;
    font-size: 24px; 
}

#image-post-title-text {
    background: -webkit-linear-gradient(#fdd77b, #f4a063, #f27076);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#image-post-author {
    grid-area: author;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-post-date {
    grid-area: date;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#image-post-description {
    max-height: 120px;
    grid-area: description;
    word-wrap: break-word;
    overflow-y: auto;
}